<?xml version="1.0"?>
<launch>


    <!--likelihood grid using the laser data from the leg detector and camera data from freenect -->
<include file="$(find likelihood_grid)/launch/likelihood_priss.launch"/>

<!--Navigation-->
<include file="$(find ros_nav)/move_base_priss.launch"/>


  <node name="assertive_behaviour" pkg="assertive_behaviour" type="assertive_behaviour" output="screen">
   <remap from="/legs" to="/priss/legs" />
   <remap from="/scan" to="/priss/scan" />
   <remap from="/scan_filtered" to="/priss/scan_filtered" />
   <remap from="/sonar" to="/priss/sonar" />
   <remap from="/sound_player" to="/priss/sound_player" />
   <remap from="/cmd_vel" to="/priss/cmd_vel" />
   <remap from="/gripper_control" to="/priss/gripper_control" />
   <remap from="/leds/display" to="/priss/leds/display" />
   <remap from="/sound_player" to="/priss/sound_player" />
   <remap from="/global_poses" to="/vicon/priss/priss" />
   
	<remap from="/move_base_simple/goal" to="/priss/move_base_simple/goal" />
	<remap from="/listener/cmd_vel" to="/priss/listener/cmd_vel" />

	<!--<remap from="/human/grid" to="/priss/human/grid" />-->
	<remap from="/human/local_maxima" to="/priss/predicted_legs" />

  </node>
</launch>
