<?xml version="1.0"?>
<launch>

<arg name="scan_topic1" default = "/scan"/>
<arg name="pose_topic1" default = "/amcl_pose"/>
<arg name="scrubbed_scan_topic1" default = "/scrubbed_scan"/>
<arg name="cmd_vel_topic1" default = "/cmd_vel"/>
<arg name="amcl_topic1" default = "/amcl_pose"/>
<arg name="start_x1" default = "9.617"/>
<arg name="start_y1" default = "8.956"/>
<arg name="start_yaw1" default = "-1.575"/>
<arg name="end_x1" default = "9.507"/>
<arg name="end_y1" default = "4.420"/>
<arg name="end_yaw1" default = "1.54"/>
<arg name="tolerance" default = "4"/>
<arg name="aggression" default = "6"/>
<arg name="lose_distance" default = "0.75"/>
<arg name="win_distance" default = "0.5"/>

<node name="assertive_behaviour" pkg="assertive_behaviour" type="assertive_behaviour" output="screen">
  
	<param name="stage_mode" value="false"/>
	<param name="vicon_mode" value="false"/>
	<param name="scan_topic" value="$(arg scan_topic1)"/>
	<param name="pose_topic" value="$(arg pose_topic1)"/>
	<param name="scrubbed_scan_topic" value="$(arg scrubbed_scan_topic1)"/>
	<param name="cmd_vel_topic" value="$(arg cmd_vel_topic1)"/>
	<param name="amcl_topic" value="$(arg amcl_topic1)"/>
	<param name="start_x" value="$(arg start_x1)"/>
	<param name="start_y" value="$(arg start_y1)"/>
	<param name="start_yaw" value="$(arg start_yaw1)"/>
	<param name="end_x" value="$(arg end_x1)"/>
	<param name="end_y" value="$(arg end_y1)"/>
	<param name="end_yaw" value="$(arg end_yaw1)"/>
	<param name="aggression" value="$(arg aggression)"/>
	<param name="detection_tolerance" value="$(arg tolerance)"/>
	<param name="lose_distance" value="$(arg lose_distance)"/>
	<param name="win_distance" value="$(arg win_distance)"/>
  </node>


	<!--<remap from="/legs" to="/priss/legs" />
   <remap from="/scan" to="/priss/scan" />
   <remap from="/scan_filtered" to="/priss/scan_filtered" />
   <remap from="/sonar" to="/priss/sonar" />
   <remap from="/sound_player" to="/priss/sound_player" />
   <remap from="/cmd_vel" to="/priss/cmd_vel" />
   <remap from="/gripper_control" to="/priss/gripper_control" />
   <remap from="/leds/display" to="/priss/leds/display" />
   <remap from="/sound_player" to="/priss/sound_player" />
   <remap from="/global_poses" to="/vicon/priss/priss" />
   
	<remap from="/move_base_simple/goal" to="/priss/move_base_simple/goal" />
	<remap from="/listener/cmd_vel" to="/priss/listener/cmd_vel" />

	
	<remap from="/human/local_maxima" to="/priss/predicted_legs" />-->
	<!--<remap from="/human/grid" to="/priss/human/grid" />-->



</launch>
